<!-- Views/Shared/_PaginationPartial.cshtml -->
@model Project.Service.Data.Helpers.PaginatedList<dynamic>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<nav aria-label="Page navigation">
    <ul class="pagination">
        <li class="page-item @prevDisabled">
            <a asp-action="Index"
              asp-route-pageIndex="@(Model.PageIndex - 1)"
              asp-route-sortOrder="@ViewData["CurrentSort"]"
              asp-route-search="@ViewData["CurrentFilter"]"
              class="page-link">
                Previous
            </a>
        </li>
        
        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            <li class="page-item @(i == Model.PageIndex ? "active" : "")">
                <a asp-action="Index"
                  asp-route-pageIndex="@i"
                  asp-route-sortOrder="@ViewData["CurrentSort"]"
                  asp-route-search="@ViewData["CurrentFilter"]"
                  class="page-link">
                    @i
                </a>
            </li>
        }
        
        <li class="page-item @nextDisabled">
            <a asp-action="Index"
              asp-route-pageIndex="@(Model.PageIndex + 1)"
              asp-route-sortOrder="@ViewData["CurrentSort"]"
              asp-route-search="@ViewData["CurrentFilter"]"
              class="page-link">
                Next
            </a>
        </li>
    </ul>
</nav>